<!--
     Copyright (C) 2022 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.aperture.overlay.marble">
    <overlay android:targetPackage="org.lineageos.aperture"
        android:isStatic="true"
        android:priority="1000" />
</manifest>
