<!--
     Copyright (C) 2023 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.networkstack.tethering.overlay.common">
    <overlay
      android:targetPackage="com.android.networkstack.tethering"
      android:isStatic="true"
      android:priority="1000"/>
</manifest>
