<!--
     Copyright (C) 2023 The LineageOS Project
     SPDX-License-Identifier: Apache-2.0
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="com.android.wifi.resources.overlay.global">
     <application android:hasCode="false" />
     <overlay android:targetPackage="com.android.wifi.resources"
              android:targetName="WifiCustomization"
              android:requiredSystemPropertyName="ro.boot.hwc"
              android:requiredSystemPropertyValue="GL"
              android:isStatic="true" />
</manifest>
