on early-boot
    # SSR Setup
    write /sys/class/remoteproc/remoteproc0/recovery enabled
    write /sys/class/remoteproc/remoteproc1/recovery enabled
    write /sys/class/remoteproc/remoteproc2/recovery enabled
    write /sys/class/remoteproc/remoteproc3/recovery enabled

on boot
    # DT2W
    chown system system /dev/xiaomi-touch
    chmod 0660 /dev/xiaomi-touch

    # Modem
    chmod 0777 /dev/smd8
    chown radio radio /dev/smd8
    mkdir /data/vendor/modem 0777 radio radio

    # Pocket sensor
    chown system system /sys/class/touch/touch_dev/palm_sensor
    chmod 0664 /sys/class/touch/touch_dev/palm_sensor

on post-fs
    chown system system /sys/class/backlight/panel0-backlight/brightness
    chown system system /sys/class/backlight/panel0-backlight/max_brightness

on post-fs-data
    # Camera
    mkdir /mnt/vendor/persist/camera 0755 system cameraserver
    mkdir /data/vendor/camera 0777 camera camera
    mkdir /data/vendor/camera/offlinelog 0777 cameraserver audio
    chmod 0666 /dev/camlog

    # Fingerprint
    mkdir /data/vendor/fpc 0770 system system
    mkdir /data/vendor/fpdump 0770 system system
    mkdir /data/vendor/goodix 0770 system system
    mkdir /mnt/vendor/persist/fpc 0770 system system
    mkdir /mnt/vendor/persist/goodix 0770 system system

    # nv_mac
    mkdir /data/vendor/mac_addr 0770 system wifi

    # qrtr-lookup
    mkdir /data/vendor/qrtr 0775 system system

service citsensor-hal-2-0 /vendor/bin/hw/vendor.xiaomi.sensor.citsensorservice@2.0-service
    class late_start
    user system
    group system input wakelock
    override
    task_profiles ServiceCapacityLow

service nqnfc_2_0_hal_service /vendor/bin/hw/vendor.nxp.hardware.nfc@2.0-service
    class early_hal
    user nfc
    group nfc
    override
    disabled

service secureelement-hal_1_2 /vendor/bin/hw/vendor.qti.secure_element@1.2-service
    class early_hal
    user system
    group system
    override
    disabled

service qti_esepowermanager_service_1_1 /vendor/bin/hw/vendor.qti.esepowermanager@1.1-service
    class early_hal
    user system
    group nfc system
    override
    disabled

# Do not enable NFC on marblein
on property:ro.boot.product.hardware.sku=marble
    enable nqnfc_2_0_hal_service
    enable secureelement-hal_1_2
    enable qti_esepowermanager_service_1_1
